<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXthdOGEuSfjSZQ4my3IN9R1yF6q9rQZg"></script>
    <style type="text/css">
        #map {
        width:100%;
        height:360px;
        }
        #main {
        padding:0;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<div id="main" class="container-fluid" ng-app="farmersmarkets" ng-controller="MainController">
    <div id="map"></div>
    <div><h2>Baltimore Farmer's Markets</h2></div>
    <div>Select a day
        <select id="day" class="form-control" ng-model="selectedDay" ng-options="name for name in dayNames"></select>
    </div>
    <br/>

    <div id="marketList" class="list-group">
        <div ng-repeat="market in markets | day:selectedDay" class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">{{market.name}}</h3></div>
            <div class="panel-body">
                <div>
                    <strong>address</strong>
                    {{market.address}}
                </div>
                <div>
                    <strong>distance</strong>
                    {{market.distance.text}}
                </div>
                <div>
                    <strong>hours</strong>
                    {{market.openingtime}}-{{market.closingtime}}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./app.js"> </script>
</body>
</html>